<div class="row" style="width:100vw">
  <div class="heading" style="text-align:center;">
      <h2 style="letter-spacing:7px;line-height: 1.6em;"><u>Sign In</u><span class="glyphicon glyphicon-log-in"></span></h2>
  </div>
</div>

<div class="row" style="width:100vw">
  <%=render "form"%>
</div>
<hr />
<div style="color: #fff;text-align:center;margin-left:-2%;">
	<p>Don't have an account..?</p> <div class="btn btn-info"><%=link_to "Sign Up", signup_path%></div>
</div>

