<div class="row">
  <div class="jumbotron" style="text-align:center">
      <h2 style="letter-spacing:7px"><u>New Author Template</u></h2>
  </div>
</div>

<div class="row">
  <%=render "form"%>
</div>
