<div class="row" style="width:100vw">
  <div class="heading" style="text-align:center;">
      <h2 style="letter-spacing:7px;line-height: 1.6em;">Add a New Book <span class="glyphicon glyphicon-book"></span></h2>
  </div>
</div>

<div class="row" style="width:100vw">
  <%=render "form"%>
</div>
