 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "rails_bootstrap_forms";
 @import "superhero";
 @import "chosen";

#logo{width:100px;margin-left: 20%;}
#myNavbar{margin-top: 4%;}
.navbar-nav{margin-left: 20%;font-size: 14px;}
.heading{background-color:rgb(78,93,108);margin-top: -2%;margin-bottom: 3%;
		line-height: 1.8em; }
