.titles{text-align: center;
		font-family: 'Righteous';
		word-spacing: 8px;
		letter-spacing: 7px;
		font-weight: bold;
		color:rgb(58,193,98);
		text-shadow:2px 2px 1px #fff,-2px -2px 1px #fff;
		img{width:70px;height: auto;}	
		}